# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables (Secrets)
.env
#.env.*
!.env.example
!.env.dev
!.env.test
!.env.staging

# IDEs
.vscode/
.idea/

# Testing & Reporting
.pytest_cache/
.ruff_cache/
allure-results/
allure-report/
#report.html
.allure/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
